html {
  font-family: "Noto Serif", serif;
}

.sans, h1, h2, h3, h4, h5, h6, .btn, .h-logo, nav a {
  font-family: Signika, sans-serif;
}

h1, h2, h4 {
  color: #12ccd2;
}

h3 {
  color: #D19DD1;
}

h4 {
  font-weight: 300;
}

a {
  color: #12ccd2;
  text-decoration: none;
  border-bottom: 2px solid rgba(18, 204, 210, 0.5);
}

a:hover {
  color: #d19dd1;
  border-color: rgba(209, 157, 209, 1);
}

/* ----- =Colors ----- */

.text-fff,
.text-fff-hov:hover,
.text-fff-hov:active,
.text-fff-hov:focus {
  color: #fff !important;
}

.text-pink,
.text-pink-hov:hover,
.text-pink-hov:active,
.text-pink-hov:focus {
  color: #D19DD1 !important;
}

.text-turquoise,
.text-turquoise-hov:hover,
.text-turquoise-hov:active,
.text-turquoise-hov:focus {
  color: #12ccd2 !important;
}

.bg-fff,
.bg-fff-hov:hover,
.bg-fff-hov:active,
.bg-fff-hov:focus {
  background-color: #fff !important;
}

.bg-pink,
.bg-pink-hov:hover,
.bg-pink-hov:active,
.bg-pink-hov:focus {
  background-color: #D19DD1 !important;
}

.bg-turquoise,
.bg-turquoise-hov:hover,
.bg-turquoise-hov:active,
.bg-turquoise-hov:focus {
  background-color: #12ccd2 !important;
}

.bg-333,
.bg-333-hov:hover,
.bg-333-hov:active,
.bg-333-hov:focus {
  background-color: #333 !important;
}

/* ----- =Toggle Nav ----- */

.nav-label {
  width: 2.5rem;
  height: 2rem;
  /* margin: .5rem; */
  position: relative;
  z-index: 1100;
}

.tog {
  background-color: #fff;
  width: 2.5rem;
  height: .25rem;
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: opacity .5s, transform .5s, left .5s, top .5s, bottom .5s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-check:checked ~ .nav-label .top {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.nav-check:checked ~ .nav-label .middle {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.nav-check:checked ~ .nav-label .bottom {
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%) rotate(-45deg);
}

input[type="checkbox"] + label::before {
  position: absolute;
  left: -1000rem;
}

.nav-label-back {
  width: 100%;
  position: fixed;
  height: calc(100vh - 3.54875rem);
  left: -100vw;
  top: 3.54875rem;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0,);
  transition: background-color .5s;
}

.nav-check:checked ~ .nav-label-back {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

/* ----- =Header ----- */

.masthead {
  background-image: linear-gradient(to right, #12ccb6, #12ccd2, #D19DD1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.h-logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  z-index: 1100;
  position: relative;
}

/* .h-logo:hover,
.h-logo:active,
.h-logo:focus {
  color: #D19DD1;
} */

.i-logo {
  width: 2rem;
  height: 2rem;
}
/*
.scale {
  transition: all .25s ease-in-out;
}

.scale:hover {
  transform: scale(1.1);
} */

nav {
  position: fixed;
  width: 66%;
  height: calc(100vh - 3.54875rem);
  left: -100vw;
  top: 3.54875rem;
  background-color: rgba(18, 204, 210, .9);
  z-index: 100;
  overflow: hidden;
  -webkit-transition: height .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.nav-check:checked ~ nav {
  left: 0;
}

nav ul.list-group {
  padding: 1.3rem .65rem;
}

nav li {
  /* text-align: center; */
  margin-bottom: .325rem;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .25rem 1.5rem .2rem;
  font-size: 1.5625rem;
  line-height: 2.275rem;
  border-radius: 10000px;
  border: none;
}

nav a:hover,
nav a:active,
nav a:focus {
  background-color: #D19DD1;
  color: #fff;
}

.nav-same-page {
  border-top: 1px solid #fff;
}

.nav-same-page a {
  font-size: 1rem;
  line-height: 1.3rem;
}

.nav-same-page li:last-child {
  text-align: center;
  margin-top: 1.3rem;
}

.nav-same-page li:last-child a {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

/* ----- =Main ----- */

.banner {
  height: 90vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner.jpg") center bottom / cover no-repeat;
}

.banner-content {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-content p {
  color: #fff;
  padding: 0 2.5rem;
}

.hr {
  background-image: linear-gradient(to right, #12ccb6, #12ccd2, #D19DD1);
  height: .25rem;
}

.hr-thin {
  height: .125rem;
}

.hr-thick {
  height: 1.5rem;
}

/* ----- =Footer ----- */

.nav-social {
  text-align: center;
}

@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 38em) {

  .nav-social {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {



}

@media only screen and (min-width: 90em) {



}
