html {
  font-family: "Noto Serif", serif;
}

.sans, h1, h2, h3, h4, h5, h6, .btn, .h-logo, nav a, legend {
  font-family: Signika, sans-serif;
}

.font-light {
  font-weight: lighter;
}

::selection {
    background-color: #12ccd2;
    color: #fff;
    text-shadow: none;
}

h1, h2, h4 {
  color: #12ccd2;
}

h3, legend {
  font-weight: normal;
}

h4 {
  font-weight: 300;
}

a {
  color: #12ccd2;
  text-decoration: none;
  border-bottom: 2px solid rgba(18, 204, 210, 0.5);
}

a:hover {
  color: #d19dd1;
  border-color: rgba(209, 157, 209, 1);
}

/* ----- =Colors ----- */

.text-000,
.text-000-hov:hover,
.text-000-hov:active,
.text-000-hov:focus {
  color: #000 !important;
}

.text-fff,
.text-fff-hov:hover,
.text-fff-hov:active,
.text-fff-hov:focus {
  color: #fff !important;
}

.text-pink,
.text-pink-hov:hover,
.text-pink-hov:active,
.text-pink-hov:focus {
  color: #D19DD1 !important;
}

.text-turquoise,
.text-turquoise-hov:hover,
.text-turquoise-hov:active,
.text-turquoise-hov:focus {
  color: #12ccd2 !important;
}

.bg-fff,
.bg-fff-hov:hover,
.bg-fff-hov:active,
.bg-fff-hov:focus {
  background-color: #fff !important;
}

.bg-pink,
.bg-pink-hov:hover,
.bg-pink-hov:active,
.bg-pink-hov:focus {
  background-color: #D19DD1 !important;
}

.bg-turquoise,
.bg-turquoise-hov:hover,
.bg-turquoise-hov:active,
.bg-turquoise-hov:focus {
  background-color: #12ccd2 !important;
}

.bg-lg,
.bg-lg-hov:hover,
.bg-lg-hov:active,
.bg-lg-hov:focus {
  background-color: #f2f2f2 !important;
}

.bg-333,
.bg-333-hov:hover,
.bg-333-hov:active,
.bg-333-hov:focus {
  background-color: #333 !important;
}

/* ----- =Toggle Nav ----- */

.nav-label {
  width: 2.5rem;
  height: 2rem;
  /* margin: .5rem; */
  position: relative;
  z-index: 1100;
}

.tog {
  background-color: #fff;
  width: 2.5rem;
  height: .25rem;
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: opacity .5s, transform .5s, left .5s, top .5s, bottom .5s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-check:checked ~ .nav-label .top {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.nav-check:checked ~ .nav-label .middle {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.nav-check:checked ~ .nav-label .bottom {
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%) rotate(-45deg);
}

input[type="checkbox"].nav-check + label::before {
  position: absolute;
  right: -.4rem;
  top: -.2rem;
  background-color: transparent;
  background-size: cover;
  border: none;
  z-index: 900000;
  height: 2.4em;
  width: 2.8em;
}

[type="checkbox"].nav-check:checked + label::before {
  background-image: none;
}

.nav-label-back {
  width: 100%;
  position: fixed;
  height: calc(100vh - 3.29875rem);
  left: -100vw;
  top: 3.29875rem;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0,);
  transition: background-color .5s;
}

.nav-check:checked ~ .nav-label-back {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

/* ----- =Header ----- */

.masthead {
  background-image: linear-gradient(to right, #12ccb6, #12ccd2, #D19DD1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25)
}

.h-logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  z-index: 1100;
  position: relative;
  border: none;
  transition:
    background-color .25s,
    color .25s;
}

.h-logo:hover,
.h-logo:active,
.h-logo:focus {
  color: #fff;
}

.i-logo {
  width: 2rem;
  height: 2rem;
}
/*
.scale {
  transition: all .25s ease-in-out;
}

.scale:hover {
  transform: scale(1.1);
} */

nav {
  position: fixed;
  width: 66%;
  height: calc(100vh - 3.29875rem);
  left: -100vw;
  top: 3.29875rem;
  background-color: rgba(18, 204, 210, .9);
  z-index: 100;
  overflow: hidden;
  -webkit-transition: height .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.nav-check:checked ~ nav {
  left: 0;
}

nav ul.list-group {
  padding: 1.3rem .65rem;
}

nav li {
  /* text-align: center; */
  margin-bottom: .325rem;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .25rem 1.5rem .2rem;
  /* font-size: 1.5625rem;
  line-height: 2.275rem; */
  border-radius: 10000px;
  border: none;
  transition:
    color .25s,
    background-color .25s;
}

nav a:hover,
nav a:active,
nav a:focus {
  background-color: #D19DD1;
  color: #fff;
}

.nav-same-page {
  border-top: 1px solid #fff;
}

.nav-same-page a {
  /* font-size: 1rem;
  line-height: 1.3rem; */
}

.nav-same-page li:last-child {
  text-align: center;
  margin-top: 1.3rem;
}

.nav-same-page li:last-child a {
  /* font-size: 1.25rem;
  line-height: 1.625rem; */
}

/* ----- =Main ----- */

.banner {
  height: 95vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner.jpg") center top / cover no-repeat;
}

.banner-adopt {
  height: 75vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner-adopt.jpg") center bottom / cover no-repeat;
}

.banner-rescues {
  height: 75vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner-rescues.jpg") center bottom / cover no-repeat;
}

.banner-content {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}
/*
.banner-adopt .banner-content {
  left: 0;
  bottom: 0;
  transform: translate(0, 0);
} */

.banner-content p {
  color: #fff;
  padding: 0 2.5rem;
}

.hr {
  background-image: linear-gradient(to right, #12ccb6, #12ccd2, #D19DD1);
  height: .25rem;
}

.hr-thin {
  height: .125rem;
}

.hr-thick {
  height: 1.5rem;
}


.available-dog-label {
  background-color: rgba(209, 157, 209, 0.5);
  transition: opacity .25s;
  opacity: 0;
}

.unit:hover .available-dog-label {
  opacity: 1;
}

.available-dogs-link {
  transition: background-color .25s;
  border: none;
  border-radius: 0 0 10px 10px;
}

.xs-hidden {
  display: none;
}

/* ----- =Forms ----- */

form p.left {
  width:
}

form div.right {
  width: calc(100% - .88456rem);
}

input,
textarea {
  display: block;
  width: 100%;
  padding: .65rem;

  background-color: #fff;
  border: 1px solid rgba(18, 204, 210, 0.5);
  border-radius: 10000px;

  vertical-align: middle;
}

textarea {
  border-radius: 25px;
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
  padding: .975rem .65rem;
}

[type="radio"] + label::before {
  content: " ";
  display: inline-block;
  height: 1.8em;
  margin-right: .3em;
  position: relative;
  vertical-align: middle;
  top: -.1em;
  width: 1.8em;

  background-color: #fff;
  background-size: cover;
  border: 1px solid rgba(18, 204, 210, 0.5);
  border-radius: 50%;

  line-height: inherit;
}

[type="radio"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Ccircle cx='128' cy='128' r='70.4' fill='#12ccd2'/%3E%3C/svg%3E");
}

select {
  display: block;
  width: 100%;
  height: calc(1.5rem + .325rem + .325rem);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='#12ccd2' stroke-miterlimit='10' stroke-width='70' d='M36.3 82.1l91.9 91.8 91.5-91.8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - .4em) center;
  background-size: 18px auto;
  background-color: #fff;
  border: 1px solid rgba(18, 204, 210, 0.5);
  border-radius: 10000px;
  padding: .325rem .65rem;
}
/*
label.max-length-no-center,
.disclaimers label {
  display: inline-block;
  vertical-align: bottom;
}

.disclaimers select,
.disclaimers input {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  max-width: 12.35rem;
} */

fieldset {
  border: none;
  padding: 0;
}

/* ----- =Filter ----- */

.golden-retriever:checked ~ .dog-list .pugs-link,
.golden-retriever:checked ~ .dog-list .terrier-link {
  display: none;
}

.pugs:checked ~ .dog-list .golden-retriever-link,
.pugs:checked ~ .dog-list .terrier-link {
  display: none;
}

.terrier:checked ~ .dog-list .pugs-link,
.terrier:checked ~ .dog-list .golden-retriever-link {
  display: none;
}

/* ----- =Footer ----- */

.footer {
  border-top: 1.5rem solid #222;
}

.nav-social {
  text-align: center;
}

.nav-social a {
  border: none;
  transition: color .25s;
}

.nav-social a:hover {
  color: #D19DD1;
}

.nav-social .icon {
  width: 3rem;
  height: 3rem;
}

@media only screen and (min-width: 25em) {

  .xs-hidden {
    display: inline;
  }

}

@media only screen and (min-width: 32em) {

  .nav-check:checked ~ .nav-label-back {
    display: none;
  }

/*
  .banner {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .125), rgba(0, 0, 0, .5)) top left / cover no-repeat,
      url("../images/banner.jpg") center top / cover no-repeat;
  } */

  .banner-adopt {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .125), rgba(0, 0, 0, .5)) top left / cover no-repeat,
      url("../images/banner-adopt.jpg") center center / cover no-repeat;
  }

  .banner-rescues {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .125), rgba(0, 0, 0, .5)) top left / cover no-repeat,
      url("../images/banner-rescues.jpg") center center / cover no-repeat;
  }

  .banner-content {
    left: 0;
    bottom: 0;
    transform: translate(0, 0);
    text-align: left;
  }

  .banner-content p {
    padding: 0;
  }

}

@media only screen and (min-width: 38em) {

  /* ----- =Header ----- */

  .h-logo {
    background-color: #D19DD1;
    /* border-left: 3px solid #d19dd1;
    border-right: 3px solid #d19dd1;
    border-bottom: 3px solid #d19dd1; */
    padding: .7rem;
    position: absolute;
    left: 1.4rem;
    top: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25)
  }

  .h-logo:hover {
    background-color: #fff;
    color: #D19DD1;
    /* border-color: rgba(18, 204, 182, .125); */
  }

  .i-logo {
    width: 3.5rem;
    height: 3.5rem;
  }

  .h-logo .icon-label,
  .nav-label,
  .nav-same-page,
  [type="checkbox"].nav-check + label::before,
  [type="checkbox"].nav-check + label {
    display: none;
  }

  nav {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
  }

  nav ul.list-group {
    padding: 0;
    text-align: right;
  }

  nav li {
    display: inline-block;
    margin: 0;
  }

  nav a {
    padding: .25rem 1.5rem .2rem;
    /* font-size: 1.333rem;
    line-height: 1.75rem; */
    border-radius: 10000px;
    border: none;
  }

  /* ----- =Main ----- */

  .about-us {
    background: url("../images/bone-bg.svg") 97% center / 12.5rem no-repeat;
  }

  .application {
    background:
      url("../images/bone-bg.svg") 90% 5% / 10rem no-repeat,
      url("../images/paw-bg.svg") right center / 11rem no-repeat,
      url("../images/logo-bg.svg") 95% 95% / 10rem no-repeat;
  }

  .success-content {
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, .5),  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, .75),  rgba(0, 0, 0, 0)) top left / 100% 50% no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .success-content p {
    color: #fff;
  }

  .success-content-previews {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .m-hidden {
    display: none;
  }

  /* ----- =Footer ----- */

  .nav-social {
    text-align: right;
  }

  form div.right {
    width: calc(100% - 1.00025rem);
  }


}

@media only screen and (min-width: 60em) {

  /* ----- =Header ----- */

  .h-logo {
    left: 1.5rem;
  }


}

@media only screen and (min-width: 90em) {



}
