html {
  font-family: "Noto Serif", serif;
}

.sans, h1, h2, h3, h4, h5, h6, .btn, .i-logo + .icon-label, nav a, legend {
  font-family: Signika, sans-serif;
}

.font-light {
  font-weight: lighter;
}

::selection {
    background-color: #12ccd2;
    color: #fff;
    text-shadow: none;
}

h1, h2, h4 {
  color: #12ccd2;
}

h4 {
  font-weight: 300;
}

a {
  color: #12ccd2;
  text-decoration: none;
  border-bottom: 2px solid rgba(18, 204, 210, 0.5);
  transition:
    color .25s,
    background-color .25s,
    border-color .25s;
}

a:hover,
a:focus,
a:active {
  color: #d19dd1;
  border-color: rgba(209, 157, 209, 1);
}

.skip-links a,
.skip-links button {
  color: #fff;
}

.skip-links a:hover {
  color: #fff;
}

/* ----- =Colors ----- */

.bg-lgrey {
  background-color: #f2f2f2;
}

.bg-dgrey {
  background-color: #333;
}

.bg-turquoise {
  background-color: #12ccd2;
}

.bg-pink {
  background-color: #d19dd1;
}

.text-lgrey {
  color: #aaa;
}

.text-fff {
  color: #fff;
}

.text-000 {
  color: #000;
}

/* ----- =Toggle Nav ----- */

.nav-label {
  width: 2.5rem;
  height: 2rem;
  /* margin: .5rem; */
  position: relative;
  z-index: 1100;
}

.tog {
  background-color: #fff;
  width: 2.5rem;
  height: .25rem;
  position: absolute;
  left: 0;
  border-radius: 5px;
  transition: opacity .5s, transform .5s, left .5s, top .5s, bottom .5s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-check:checked ~ .nav-label .top {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.nav-check:checked ~ .nav-label .middle {
  opacity: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.nav-check:checked ~ .nav-label .bottom {
  bottom: 50%;
  left: 50%;
  transform: translateY(50%) translateX(-50%) rotate(-45deg);
}

input[type="checkbox"].nav-check + label::before {
  position: absolute;
  right: -.4rem;
  top: -.2rem;
  background-color: transparent;
  background-size: cover;
  border: none;
  z-index: 900000;
  height: 2.4em;
  width: 2.8em;
}

[type="checkbox"].nav-check:checked + label::before {
  background-image: none;
}

.nav-label-back {
  width: 100%;
  position: fixed;
  height: calc(100vh - 3.29875rem);
  left: -100vw;
  top: 3.29875rem;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0,);
  transition: background-color .5s;
}

.nav-check:checked ~ .nav-label-back {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
}

/* ----- =Header ----- */

.masthead {
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.h-logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  z-index: 1100;
  position: relative;
  border: none;
  transition:
    background-color .25s,
    color .25s;
}

.h-logo:hover,
.h-logo:active,
.h-logo:focus {
  color: #12ccd2;
}

.i-logo {
  width: 2rem;
  height: 2rem;
}

.i-logo + span {
  display: none;
}

nav {
  position: fixed;
  width: 66%;
  height: calc(100vh - 3.29875rem);
  left: -100vw;
  top: 3.29875rem;
  background-color: rgba(18, 204, 210, .9);
  z-index: 100;
  overflow: hidden;
  -webkit-transition: height .5s ease-in-out;
  transition: left .5s ease-in-out;
}

.nav-check:checked ~ nav {
  left: 0;
}

nav ul.list-group {
  padding: 1.3rem .65rem;
}

nav li {
  margin-bottom: .325rem;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .375em 1em .42em;
  border-radius: 10000px;
  border: none;
  transition:
    color .25s,
    background-color .25s;
}

nav a:hover,
nav a:active,
nav a:focus {
  background-color: #fff;
  color: #000;
}

.current {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.hr {
  background-image: linear-gradient(to right, #12ccb6, #12ccd2, #D19DD1);
  height: .325rem;
}

.hr-thin {
  height: .125rem;
}

.hr-thick {
  height: 1.5rem;
}

/* ----- =Main ----- */

.banner {
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner.jpg") center top / cover no-repeat;
  height: 90vh;
}

.banner-adopt {
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner-adopt.jpg") center top / cover no-repeat;
}

.banner-rescues {
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner-rescues.jpg") center top / cover no-repeat;
}

.banner-content {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

h2 span {
  border-bottom: 1px solid #D19DD1;
}

.donate h2 span {
  border-bottom: 1px solid #fff;
}

a.unit {
  border: none;
  color: #000;
}

a.unit:hover {
  background-color: #e2e2e2;
}

/* ----- =Form ----- */

input,
textarea {
  display: block;
  width: 100%;
  padding: .65rem;

  background-color: #fff;
  border: 1px solid rgba(18, 204, 210, 0.5);
  border-radius: 10000px;

  vertical-align: middle;
}

textarea {
  border-radius: 25px;
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
  padding: .975rem .65rem;
}

[type="radio"] + label::before {
  content: " ";
  display: inline-block;
  height: 1.8em;
  margin-right: .3em;
  position: relative;
  vertical-align: middle;
  top: -.1em;
  width: 1.8em;

  background-color: #fff;
  background-size: cover;
  border: 1px solid rgba(18, 204, 210, 0.5);
  border-radius: 50%;

  line-height: inherit;
}

[type="radio"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Ccircle cx='128' cy='128' r='70.4' fill='#12ccd2'/%3E%3C/svg%3E");
}

select {
  display: block;
  width: 100%;
  height: calc(1.5rem + .325rem + .325rem);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='#12ccd2' stroke-miterlimit='10' stroke-width='70' d='M36.3 82.1l91.9 91.8 91.5-91.8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - .4em) center;
  background-size: 18px auto;
  background-color: #fff;
  border: 1px solid rgba(18, 204, 210, 0.5);
  border-radius: 10000px;
  padding: .325rem .65rem;
}

fieldset {
  border: none;
  padding: 0;
}

/* ----- =Footer ----- */

.footer {
  border-top: 1.5rem solid #2a2a2a;
}

.footer p,
.footer .list-group {
  text-align: center;
}

.nav-social {
  text-align: center;
}

.nav-social a {
  border: none;
  transition: color .25s;
  color: #fff;
}

.nav-social a:hover {
  color: #12ccd2;
}

.nav-social .icon {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 38em) {

  .masthead {
    position: absolute;
  }

  .i-logo {
    width: 3rem;
    height: 3rem;
  }

  .nav-check,
  label.nav-label,
  .nav-label-back {
    display: none;
  }

  nav {
    position: absolute;
    top: 50%;
    left: auto;
    right: 1.4rem;
    transform: translateY(-50%);
    background-color: transparent;
    width: auto;
    height: auto;
  }

  nav ul.list-group {
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline-block;
    margin: 0;
  }

  .banner {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)) top left / cover no-repeat,
      url("../images/banner.jpg") center top / cover no-repeat;
  }

  .banner-adopt {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .5)) top left / cover no-repeat,
      url("../images/banner-adopt.jpg") center top / cover no-repeat;
  }

  .banner-rescues {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75)) top left / cover no-repeat,
      url("../images/banner-rescues.jpg") center top / cover no-repeat;
  }

  .banner-content {
    text-align: left;
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }

  /* .application {
  background:
    url("../images/bone-bg.svg") 90% 25% / 10rem no-repeat,
    url("../images/paw-bg.svg") right 57.5% / 11rem no-repeat,
    url("../images/logo-bg.svg") 95% 95% / 10rem no-repeat;
} */

  /* ----- =Footer ----- */

  .footer p:not(.copyright),
  .footer .list-group {
    text-align: left;
  }

  .nav-social {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .masthead {
    text-align: left;
  }

  .i-logo {
    width: 3rem;
    height: 3rem;
  }

  .i-logo + .icon-label {
    display: inline;
  }

  nav {
    text-align: right;
  }

  .icon-link,
  nav li {
    display: inline-block;
    vertical-align: middle;
  }

  .nav-social .icon {
    width: 3rem;
    height: 3rem;
  }

}
